@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.logo {
  width: 100px;
  height: auto;
}

#score-board {
  position: absolute;
  width: 100%;
  top: 10vh;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  font-family: monospace;
  font-size: 24px;
}

#level-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  color: white;
  font-family: monospace;
  font-size: 48px;
}

#stamina {
  position: absolute;
  left: 10px;
  top: 35vh;
  width: 30px;
  height: 92px;
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
  border: 2px solid white;
  border-radius: 6px;
}

.stamina-block {
  width: 100%;
  height: 20px;
  background-color: lime;
}

.keyboard-controls {
  position: absolute;
  width: 30vw;
  bottom: 20vh;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  font-family: monospace;
  font-size: 24px;
}
